<p>
  <%= link_to 'Countries', countries_path%>
</p>
<h1>Listing currencies</h1>
<p>
  <%= link_to 'All', currencies_path()%>
  / 
  <%= link_to 'Unfinished', currencies_path(:unfinished => 1)%>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>(all/ not visited)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.name %></td>
        <td><%= "( #{@visited[currency.id]} / #{@not_visited[currency.id]} )" %></td>
        <td><%= link_to 'Show', currency %></td>
        <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
        <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Currency', new_currency_path %>
